@import "{{ site.theme }}";
// ---
// ---
// @import "minimal-light";

.internship-table {
    width: 100%;
    border-collapse: collapse;
}

.internship-table, .internship-table th, .internship-table td {
    border: none;
}

.internship-table td, .internship-table th {
    padding: 8px;
    text-align: left;
}

.ra-table {
    width: 100%;
    border-collapse: collapse;
}

.ra-table, .ra-table th, .ra-table td {
    border: none;
}

.ra-table td, .ra-table th {
    padding: 8px;
    text-align: left;
}



.company-logo img {
    width: 135px; /* 或者任何适合的尺寸 */
    height: auto;
}

.blue-background {
    background-color: rgb(33,73,143);
}
.red-background {
    background-color: rgb(115,37,37);
}
.nuaa-background {
    background-color: rgb(52,56,171)
}

